*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;

}

html{
  font-size: 62.5%;
  font-family: 'Karla', sans-serif;
}

body{
  background-color: #D5D4D8;
}

.main-container{
  max-width: 550px;
  min-height: 100vh;
  margin: 0 auto ;
  background-color: #ffffff;
}

/******** Navbar*******************/

.navbar{
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  display: flex;
  align-items: center;
  gap:7px;
  padding:20px 0;  
}

.navbar-heading{
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.1em;
  color:#ffffff;
}

.navbar-image{
  width: 31.31px;
  height: 26.22px;
  margin-left: 20px;
}

/***************** Meme container*******************/

.meme-container{
  width:90%;
  margin: 36px auto 0 auto;
}

.input-field{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
}

.input-field>input{
  width:230px;
  padding:.75rem;
  border-radius: 5px;
  border:1px solid #D5D4D8;
}

.input-submit{
  width: 100%;
  padding: .75rem 0rem;
  border-radius: 5px;
  font-size: 16px;
  line-height: 19px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  padding:1.25rem 0;
  text-align: center;
  
}

/************************ imageContainer***************************/

.imageContainer{
  position: relative;
  display: flex;
  justify-content: center;
  margin:30px 0 ;
}

.image-meme{
  max-width: 100%;
  border-radius: 2px
}

/*********** text above and below image********/

.meme-text{
    position:absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;  
    flex-wrap: wrap;
    letter-spacing: 1px;
    text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}